 
.color-changing-text {
    animation: colorChange 3s infinite;
  }
  
  @keyframes colorChange {
    0% {
      color: red;
    }
    20% {
      color: blue;
    }
    40% {
      color: green;
    }
    60% {
      color: yellow;
    }
    80% {
      color: orange;
    }
    100% {
      color: purple;
    }
  }